# Copyright (c) 2025 nikkyhiro67
# SPDX-License-Identifier: MIT

config ZMK_NON_LIPO_BATTERY_MANAGEMENT
    bool "Non-LiPo battery monitoring and management"
    depends on DT_HAS_ZMK_NON_LIPO_BATTERY_ENABLED
    select ZMK_SLEEP
    select ADC
    select ADC_NRFX_SAADC
    help
      Enable support for non-LiPo batteries (such as alkaline or NiMH).

if ZMK_NON_LIPO_BATTERY_MANAGEMENT

config ZMK_NON_LIPO_MIN_MV
    int "Minimum voltage in millivolts"
    default 1100
    help
      The minimum voltage level for the battery, corresponding to 0% charge.

config ZMK_NON_LIPO_MAX_MV
    int "Maximum voltage in millivolts"
    default 1300
    help
      The maximum voltage level for the battery, corresponding to 100% charge.

config ZMK_NON_LIPO_LOW_MV
    int "Low battery threshold in millivolts"
    default 1050
    help
      The voltage level at which the system will power off to prevent damage.

config ZMK_NON_LIPO_ADV_SLEEP_TIMEOUT
    int "Time in milliseconds after which the device will sleep during advertising"
    default 60000
    help
      If advertising continues for this duration, the device will enter sleep mode.
      Set to 0 to disable this feature.

endif # ZMK_NON_LIPO_BATTERY_MANAGEMENT
